<!-- ...................................................................................................
    HEADER
.................................................................................................... -->

<!-- ...................................................................................................
    PORTFOLIO SINGLE PAGE
.................................................................................................... -->
<div class="portfolio-single-page">
    <div class="container">
        <h3><%= Time.now %></h3>
        <img src="img/big/email-logo.jpg" alt="Картинка email">
        <h2><p><%= @info_letter %></p></h2>
        <div class="column">
            <p>
                <%= @letter %>
            </p>
        </div>
        <a href="/" class="button-back">&larr; Вернуться на главную</a>
    </div>
</div>
<!-- ...................................................................................................
    FOOTER
.................................................................................................... -->