<!-- ...................................................................................................
    HEADER
.................................................................................................... -->

<!-- ...................................................................................................
    PORTFOLIO SINGLE PAGE
.................................................................................................... -->
<div class="portfolio-single-page">
    <div class="container">
        <div class="form_container"> 
            <form id="contact" action="/send_letter" method="post" accept-charset="UTF-8">
                <h3>Заполните форму</h3>
                <fieldset>
                    <input placeholder="Ваше имя" name="username" id="username" type="text" value="" 
                        onblur="if(this.value=='') this.value=''" 
                        onfocus="if(this.value=='Username') this.value='';" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Ваш email" name="usermail" id="usermail" type="email" value=""
                        onblur="if(this.value=='') this.value='Введите Ваш email'" 
                        onfocus="if(this.value=='user@mail.com') this.value='';" required>
                </fieldset>
                <fieldset>
                    <textarea placeholder="Текст письма" name="usertext" id="usertext" type="text" value="Ваш текст"  required></textarea>
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" value="contact_form">Отправить</button>
                </fieldset>
            </form>
        </div>           
        <a href="/" class="button-back">&larr; Вернуться на главную</a>
    </div>
</div>
<!-- ...................................................................................................
    FOOTER
.................................................................................................... -->
