<!-- ...................................................................................................
    HEADER
.................................................................................................... -->

<!-- ...................................................................................................
    PORTFOLIO SINGLE PAGE
.................................................................................................... -->

<div class="portfolio-single-page">
    <div class="sin_win">
        <div class="container">
            <h3><%= Time.now %></h3>
            <h2>Страница находится в разработке.</h2>
            <a href="/" class="button-back">&larr; Вернуться на главную</a>
        </div>
    </div>
</div>
<!-- ...................................................................................................
    FOOTER
.................................................................................................... -->