<!-- ...................................................................................................
    HEADER
.................................................................................................... -->

<!-- ...................................................................................................
    PORTFOLIO SINGLE PAGE
.................................................................................................... -->
<div class="portfolio-single-page">
    <div class="container">
        <img src="img/big/template.jpg" alt="Текст при отсутсвии картинки.">
        <div class="column">
            <p><h4>Шаблон сайта-визитки</h4></p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Приложение шаблона сайта-визитки выполнено на HTML 5 и CSS 3. Приложение имеет простую структуру, снабжено подробными комментариями и может сразу запускаться в браузере.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Как оказалось, наиболее сложной частью проекта является не вёрстка страниц приложения, а размещение его на сервере и подключение к нему почтового клиента. Данный проект размещён на бесплатном хостинге https://www.heroku.com. Приложение полностью перенесено на сервер. Серверная часть проекта выполнена на Ruby on Rails. 
            </p>
        </div>
        <a href="/" class="button-back">&larr; Вернуться на главную</a>
    </div>
</div>
<!-- ...................................................................................................
    FOOTER
.................................................................................................... -->
